@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

body {
  margin: 0px;
  font-family: 'Roboto';
}

button {
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: unset;
  &:focus {
    outline: none;
  }
}

.body {
  background: #E5E5E5;
}